.kusamaStyle {
  --highlight-bg: rgb(0, 0, 0);
}

.karuraStyle {
  --highlight-bg: rgb(255, 76, 59);
}

.moonriverStyle {
  --highlight-bg: rgb(14, 19, 46);
}

.basiliskStyle {
  --highlight-bg: rgb(158, 236, 27);
}
